# Node Modules
favicon.ico
.vscode/
.python/
.cpython/

# Build output
dist/
build/
out/
.tmp/
.cache/

#Front End
dist/
build/
.cache/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Environment variables
.env.local
.env.*.local
.vs/
.git/
.env

# Miscellaneous
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak

# IDE and Editor settings
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Operating System files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
*.DS_Store
.Trash-*

#config
config/venv/
.git/index.lock

#environments
my_flask_project
my_django_project
*.log

#python for flask
__pycache__/
*.pyc
instance/
venv/
*.pyo
.python-version

#docker
.dockerignore
Dockerfile
docker-compose.yml

#Cache
*.class
*.o
*.out
*.so

#Temporary & Backup
*.bak
*.tmp
.temp/
.sass-cache/
.ssh

#Python
coverage/
.nyc_output/

#overrides
*.ejs
*.mjssrc/.ssh/
