* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dashboard-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80vh;
	background-color: #e1ebe4;
	padding: 50px;
	margin: 0 auto;
	text-align: center;
}

.main-icons {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.icon {
	width: 150px;
	height: 150px;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
}

.icon hover {
	background-color: #ddd;
	transform: scale(1.1);
}

.stacked-icons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.small-icon {
	width: 100px;
	height: 70px;
	background-color: #f0f0f0;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9em;
	cursor: pointer;
}

.small-icon:hover {
	background-color: #ddd;
}

.logo-section {
	text-align: center;
	padding: 50px 20px;
	background-color: #e1ebe4;
}

.logo-image {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
}

h1 {
	font-size: 2.5em;
	font-family: "Nunito", serif;
	margin-top: 20px;
}

p {
	font-size: 1.2em;
	font-family: "Nunito", serif;
	margin: 10px 0;
}

#dashboard-submit {
	display: inline-block;
	margin-top: 20px;
	padding: 5px;
	background-color: #a8738a;
	color: #ffff;
	border-radius: 5px;
	border-color: #a8738a;
	text-decoration: none;
	font-size: 1.2em;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

#dashboard-submit hover {
	background-color: olivedrab;
}

.icon img {
	max-width: 100px;
	margin-bottom: 15px;
}

.icon p {
	font-size: 1.2em;
	margin: 0;
}

.icon-link {
	text-decoration: none;
	cursor: pointer;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: whtiesmoke;
}

.icon {
	position: relative;
	width: 50px;
	height: 70px;
	background-color: #e1ebe4;
	border: 2px solid olivedrab;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

