* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Nunito', sans-serif;
}

@media (max-width: 600px) {
	body {
		font-size: 12px;
	}
}

@media (max-width: 1024px) {
	body {
		font-size: 12px;
	}
}


button[id=dashboardSubmit],
button[id="dashboardSubmit1"],
button[id="dashboardSubmit2"] {
	text-align: center;
}

.top-icon {
	position: absolute;
	top: 80px;
	right: 20px;
	display: inline-block;
	align-items: center;
}

:root {
	--primary-color: #a8738a;
	--secondary-color: #202120;
	--font-size: 14px;
}

body {
	font-size: var(--font-size);
	color: var(--secondary-color);
	height: 100vh;
	position: relative;
	overflow-y: auto;
	flex-shrink: 0;
	flex-grow: 1;
}

nav {
	display: flex;
	align-items: center;
	padding: 0;
	margin-left: 5px;
	justify-content: center;

}

button {
	background-color: #e1ebe4;
	border: none;
	padding: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background: linear-gradient(to bottom, #F5F5DC 0%, #F5F5DC 100%);
	cursor: pointer;
	color: black;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.element {
	animation: fadeIn 2s ease-in;
}

.header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}

.icon {
	flex: 0 0 auto;
	width: 50px;
	height: 50px;
	margin: 10px;
	display: inline-block;
	justify-content: center;
	align-items: center;
}

logo {
	vertical-align: middle;
	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: inherit;
	display: inline-block;
}

footer div,
footer span {
	margin: 0;
	padding: 0;
}

.auth-buttons {
	display: inline-block;
	vertical-align: middle;
	margin: 30px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: #a8738a;
}

a.accessibility-link:hover {
	color: olivedrab;
}

footer {
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	font-weight: 900;
	max-height: 100px;
	font-family: 'Nunito', sans-serif;
	margin-top: -40px;
	align-content: center;
	position:relative;
}

div.sources-container {
	max-width: 600px;
	justify-items: center;
	vertical-align: middle;
	align-items: center;
	margin: 0 auto;
}

.auth-buttons a {
	text-decoration: none;
	color: #a8738a;
	cursor: pointer;
	font-weight: 900;
	font-size: 16px;
	vertical-align: middlle;
	display: inlin-block;
	padding: 10px;
}

#choose-file {
	background-color: #e1ebe4;
	border: none;
	padding: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	max-width: 195px;
	font-size: 12px;

}

#choose-file:hover {
	background: linear-gradient(to bottom, #F5F5DC 0%, #F5F5DC 100%);
	cursor: pointer;
	color: black;
}

input #choose-file {
	font-family: 'Nunito', sans-serif';

}

#registration:hover,
#login:hover {
	cursor: pointer;
}

#loginForm {
	display: block;
	max-width: 500px;
	justify-self: center;
}

#contactForm {
	width: 400px;
	display: block;
	justify-self: center;
	cursor: pointer;
	border: none;
}

section.registration {
	display: block;
	max-width: 500px;

}

select {
	cursor: pointer;
	width: 400px;
	justify-self: center;
	height: 40px;
	background-color: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: left;
	margin-bottom: 10px;
	color: grey;
	-webkit-appearance: none;
	-moz-appearane: none;
	appearance: none;
	color: grey;
	padding: 10px;

}

select option {
	cursor: pointer;
	color: grey;
	text-align: justify;
	background-color: white;
}

select:hover,
select:focus {
	box-shadow: 2px 2px 5px rgba(209, 224, 191, 0.8);
	cursor: pointer;
	outline: none;
}

.checkmark {
	color: #a8738a;
	font-size: 16px;
	margin-left: 10px;
	vertical-align: middle;
}

.register {
	max-width: 550px;
	justify-self: center;
	top: 2px;
}

#register {
	cursor: pointer;
	text-align: center;
	position: absolute;
	color: #a8738a;
	font-weight: 1rem;
	margin: auto;
	top: 165px;
	;
}

#login {
	cursor: pointer;
	text-align: center;
	position: absolute;
	color: #a8738a;
	font-weight: 1rem;
	margin: auto;
	font-size: 14px;
}

.filter-item h2 {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px;
	color: rgba(107, 135, 35, 0.5);
	background-color: rgba(209, 214, 191, 0.089);
	transform: 0.3s ease;
	text-decoration: none;
	font-size: 18px;
}

.filter-item h2:hover {
	color: #a8738a;
}

h1 {
	font-size: 26px;
	color: #a8738a;
	cursor: pointer;
	position: inherit;
	margin-top: 0;
	padding: 0;
	margin-top: -2px;
	text-align: center;
	width: 70%;

}

#login:hover {
	cursor: pointer;
	font-size: 17px;
	text-decoration: underline;
}

#login {
	top: -15px;
	font-size: 14px;
	color: #a8738a;
	text-decoration: none;
	transition: 0.3s ease;
	text-align: center;
	position: sticky
}


.filter-item:hover {
	cursor: pointer;
	overflow-y: show;
}

.arrow {
	display: inline-block;
	transition: transform 0.3s ease;
}

.rotate {
	transform: rotate(90deg);
}

.arrow.open {
	transform: rotate(90deg);
}

form input,
form textarea,
form button {
	width: 600px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	align-items: center;
	margin-left:120px;
	display: inline-table;
	margin-top: 0px;

}

form textarea {
	resize: vertical;
	height: 80px;
}

form button, #choose-file {
	background-color: #f1f1f1;
	border: none;
	cursor: pointer;
	padding: 5px;
	width: 180px;
	display: inline-table;
	margin-top: 10px;}

input[type="file"] {
	background-color: #f1f1f1;
	padding: 8px;
	cursor: pointer;
}

form input:focus,
form textarea:focus,
form button:focus {
	outline: none;
	border-color: #888;
}

.form-container {
	margin-top: 10px;
	/* Adjust if needed */
	transition: all 0.3s ease;
	/* Smooth transition */
	align-items: center;
}

form#contactForm {
	width: 75%;
	align-items: center;
	cursor: pointer;
}

#recurringTextarea {
	display: none;
	margin-top: 10px;
}

#recurringTextarea1, textarea#requestDocument1 {
	margin-top: 2px;
	max-width: 70%;
	cursor: pointer;
	position: relative;
	display:block;
	margin-left: 70px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type],
input[type="details"] textarea,
dropdown,
select {
	max-width: 70%;
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	align-items: center;
	margin-left: 70px;
	cursor: pointer;
}

textarea[type="message"] {
	max-width: 70%;
	padding: 10px;
	margin-top: 2px;
	align-items: center;
	cursor: pointer;
}

:hover input[type="text"],
:hover input[type="password"],
:hover input[type="email"],
:hover input[type="date"],
:hover input[type="time"],
:hover input[type="number"],
:hover input[type="details"]:hover textarea,
:hover dropdown,
:hover select {
	text-decoration: none;
	background-color: none;
}

.icon-label,
.iconlabel1,
.iconlabel2 {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
	top: 245px;
	text-align: center;
	transition: color 0.3s ease;
	padding: 5px;
	margin-top: 2%;
}

.icon-label:hover {
	color: #a8738a;
	font-weight: var(icon-label);
}

.icon-container {
	margin-top: 60px;
	display: -webkit-inline-flex;
	position: absolute;
	gap: 20px;
	justify-content: center;
	max-width: 700px;

}

img,
p,
h1,
h2,
h3,
span {
	margin: 0;
	padding: 0;
}

.icon-item {
	text-align: center;
	margin: 0;
	width: 50px;
	height: auto;
}

p#icon-label {
	padding: 0px;
	display: flex;
	position: -webkit-sticky;
	text-align: center;
	justify-content: center;
	font-size: 14px;
}

.custom-list {
	list-style-type: style none;
	padding-left: 2px;
	font-size: 12px;
	text-align: justify;
	margin-left: 180px;
}

.custom-list li {
	list-style-type: none;
	position: relative;
	padding-left: 10px;
}

.custom-list li::before {
	content: '➤';
	color: var(--primary-color);
	position: absolute;
	left: -5px;
}

.content-paragraph,
#hoverable,
p[id=content-1],
p[id=content-2],
p[id=content-3],
p[id=content-4],
p[id=content-5],
p[id=content-6],
p[id=content-7],
p[id=content-8],
p[id=content-9],
p[id=content-10],
p[id=content-11]
{
	font-size: 12px;
	text-align: justify;
	max-width: 500px;
	margin: 0 auto;
	word-wrap: normal;
	justify-content: center;
	color: light-grey}

h2 {
	font-size: 13px;
	color: black;
	margin-top: -15px;
	padding: 0;
	margin-bottom: 2px;
	text-decoration: none;
	cursor: pointer;
	text-align: left;
}

hr {
	max-width: 500px;
	margin: 0 auto;
	height: 1px;
	border: none;
	background-color: #aaafb2;
}

span.bold {
	color: #a8738a;
	font-weight: bold;
	font-size: 12px;
	display: inline;

}

p#icon-label:hover {
	color: #a8738a;
	cursor: pointer;
	text-decoration: underline;
}

#dashboard-text:hover {
	cursor: pointer;
}

.filter-section {
	vertical-align: center;
	max-width: 650px;
	align-self: center;
	margin: 0 auto;
	display: inline-block;
	flex-direction: column;
}

.filter-container {
	overflow: hidden;
	transition: height 0.3s ease;
	margin-left: -50px;
	display:block;
	width: 90%;
	margin-top: 0;
	top: -30px;
	position:relative;
	
}

div.back {
	color: #aaafb2;
	text-decoration: none;
	font-size: 18px;
	background-color: white !important;
	bottom: 0px;
	margin-left: 85px;
	margin-top: -25px;
	padding: 0;
}

div.back:hover,
div.navbar:hover {
	text-decoration: underline;
	font-size: 19px;
	color: #a8738a;
	cursor: pointer;
}

div.navbar,
div.navbar a {
	color: #aaafb2;
	text-decoration: none;
	font-size: 18px;
	text-align: right;
	margin-right: 45px;
	margin-top: 25px;
	padding: 0;

}

.toppage:hover {
	text-decoration: none;
	color: #a8738a;
	font-weight: bold;
	font: size 22px;
	cursor: pointer;
	transition: 0.1s ease;
}

.toppage {
	position: absolute;
}

h2 {
	display: block;
	padding: 0;
	position: inherit;
	margin-left: 175px;
	margin-top: 1px;
}

 button[id=access],
button[id=access1],
button[id=access2],
button[id=access3],
button[id=access4],
button[id=access5],
button[id=access6],
button[id=access7],
button[id=access8],
button[id=access9],
button[id=access10],
button[id=access11]{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	transform: 0.3s ease;
	background-color: inherit;
	margin-left: 145px; margin-top: 5px;color:#a8738a; font-weight: bold; cursor: pointer; padding:0;  position:absolute;
}

a:hover, #access1:hover,
button#access1:hover,
button[id=access2]:hover,
button[id=access3]:hover,
button[id=access4]:hover,
button[id=access5]:hover,
button[id=access6]:hover,
button[id=access7]:hover,
button[id=access8]:hover,
button[id=access9]:hover,
button[id=access10]:hover,
button[id=access11]:hover{
	color: #a8738a;
	text-decoration: underline;
	padding: 0px;
	transform: 0.3s ease;
	background-color: transparent;
}

div.accessibility,
h2#accessibilityHeading,
h2#accessibilityHeading1,
h2#accessibilityHeading2 {
	color: black;
	text-align: left;
	margin-left: 138px;
	display: block;
	padding: 0;
	margin-top: -15px;
	position: absolute;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	cursor: pointer;
	font-size: 16px;
	color: #aaafb2;
	text-align: center;
	margin: 5px 0;
	padding: 0;
	width: 500px;
	transition: color 0.3s;
}

.heading.active {
	color: #a8738a;
	text-decoration: underline;
	transform: 0.3s ease;
}

.heading:hover {
	color: #a8738a;
	transform: 0.3s ease;
}

.heading-container p {
	position: absolute;
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 10;
	padding: 10px;
	box-shadow: 0px 4px 8px rgba(209, 224, 191, 0.8);
	background-color: whitesmoke;
	border-radius: 5%;
}

.heading-container.active p {
	display: block;
	opacity: 1;
	transform: translateX(0);

}
section[id=partnership], section[id=book-session], section[id=custom-request], textarea[id=requestDocument1],  
textarea[id=recurringTextarea1] textarea[id=otherDetailsInput1]{
	display:inline-table;
	margin-top: -5px;
	margin-left: 110px;
	width: 100%;
	position:relative;
}

textarea[id=message]{
	display:block;
	right: 50px;
	position: relative;
}

form[id=registrationForm], form[id=loginForm]{
	margin-left: 150px;
	max-width: 550px;
	display:inline-block;
	position:relative;
}
form[id=contactForm]{max-width: 550px; }
form#registrationForm input:focus,
form#registrationForm textarea:focus,
form#registrationForm button:focus {
	outline: none;
	border-color: #888;
	border: 5px, 2px;
	box-shadow: inherit;
}
input[type=checkbox][id=agreement]{ display:inline-block; left: -85px; position: absolute;}
form#registrationForm :hover{ cursor: pointer; box-shadow: inherit;}
.container p {
	display: none;
	text-align: justify;
	width: 100%;
	margin: 1px auto;
	cursor: pointer;
	position: absolute;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 4px 8px rgba(209, 224, 191, 0.8);
	border-radius: 5%;
	z-index: 10;
	opacity: 100;
	background-color: whitesmoke;
	transition: opacity 0.3s ease, transform 0.3s ease;
	transform: translateX(10px);
}

.container p.active {
	display: block;
	transition: 0.3s ease;
	opacity: 1;
	transform: translateX(0);
}

.contact-container {
	width: 100%
}

h1.headingText{margin-left: 120px; margin-top: -25px;}


body, html {
	overflow-x: hidden; /* Prevent horizontal scrolling */
}

#wrapper {
	width: 1200px; /* Fixed width for the page */
	margin: 0 auto; /* Center the container */
	position: relative; /* Positions stay the same */
}

.content {
	width: 100%; /* Inside wrapper, everything is fixed */
}

@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);
@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(tps://fonts.googleapis.com/css?family=Roboto);